body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inputRounded .MuiOutlinedInput-root {
  border-radius: 100px;
}

.SearchTitle{
  font-size: 2rem;
  font-weight: 300;
  color: #222831;
  margin-bottom: 10px;
}

.navbarButtons{
  font-weight: 500;
  color:#222831 ;
}
.navbarButtons:hover{
  font-weight: 600;
}

.navbarLoginButton:hover{
  color:#222831 ;
}

.bottomContent-buttons{
  font-weight: 300;
  font-size: 1rem;
}
.bottomContent-buttons:hover{
  font-weight: 500;
  color: aqua;

}

.bottomContent-title{
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}


*{
  box-sizing: border-box;
}

.searchContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

